* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// div {
//     border:2px solid black;
//     vertical-align: center;
//     margin: auto;
//     padding:25px;
//     width: 40vw;
//     height: 40vh;

//     p {
//         height:25%;
//         width: 80%;
//         border:2px solid black; 
//     }
// }